{% extends "layouts/default.njk" %}
{% set title = "e.r.r.o.r." %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-black', 'border-dark', 'navbar-dark', 'home')}}
    <main id="content">

        <!-- Hero -->
        <div class="container py-3">
            <h1 class="display-2 pb-2"><span style="color: #43b3d3">404 not found</span></h1>
            <hr class="border-3 border-white my-4 ml-0 text-left w-25" role="presentation">
            <div class="row">
                <div class="col-lg-8">
                    <p class="font-serif lead mb-4 text-secondary">
                    Sorry, we do not has.
                    </p>
                </div>
            </div>
        </div>

    </main>
    {% import 'macros/footer.njk' as footer -%}
    {{footer.footer('bg-black')}}
{% endblock %}
