{% extends "layouts/default.njk" %}
{% set title = "Strategy and Planning" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-black', 'border-dark', 'navbar-dark', '')}}
    <main id="content">

        <!-- Hero -->
        <div class="container py-5 py-lg-6">
            <h1 class="display-3 pb-3">Strategy and Planning</h1>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        <iframe src="https://player.vimeo.com/video/115963280" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </p>
                    <p>
                        This 2014 talk "The aware organization" by Mary Poppendieck made a big impression on me. It is one
                        I refer back to a lot. In it Poppendieck talks about Theory of constraints; in order to get
                        flow through a system you need everyone to work on the constraint, the bottleneck, otherwise
                        you are just wasting effort.
                    </p>
                    <p>
                        She identifies two constraints in software development, one is the integration and delivery of the
                        work, and the other is <b>Knowing what to build</b>.
                    </p>
                    <p>
                        Strategy addresses this constraint and provides the context that allows people to get on with
                        doing the work. It provides the purpose, which together with mastery and autonomy allows teams
                        to thrive.  When working with teams on strategy I use materials from a number of sources here are a few of
                        my favourites:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                   <img src="assets/img/getting-the-right-things-done.jpg" class="card-img-top" alt="Getting the right things done">
                </div>
                <div class="col-md-6">
                   <p></p>
                </div>
            </div>


                        Working with technical teams I help them discover how a technical strategy
                        can support and enable the strategy of the business.

                        The tools I use to help teams develop their strategy include

                        A3 Canvases
                        Impact Mapping

                        Purpose, Measures, Method

                        Quantify the outcomes

                        Situational Awareness

                            Value Stream Mapping
                            Domain Modeling

                        Method link to Software Development

                        Gamestorming book

                        Quote from James Carpenter

                    <p>
                </div>
            </div>
        </div>
    </main>
{% import 'macros/footer.njk' as footer -%}
{{footer.footer('bg-white', 'text-dark')}}
{% endblock %}
