a {
    transition: color 0.25s ease-in-out;

    .bg-white &,
    .bg-light &,
    .bg-primary & {
        color: $black;
    }
}

p {

    a {
        border-bottom: 1px solid $white;
        box-shadow: inset 0 -1px 0 0;
        transition: all 0.25s ease-out;

        &:hover {
            box-shadow: inset 0 -1.75rem 0 0 $white;
            color: $black;
        }

        .bg-white &,
        .bg-light &,
        .bg-primary & {
            border-color: $black;

            &:hover {
                box-shadow: inset 0 -1.75rem 0 0 $black;
                color: $white;
            }
        }
    }
}
