{% extends "layouts/docs.njk" %}
{% set folder = "docs" %}
{% set page = "avatars" %}
{% set title = "Avatars" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-black', 'border-dark', 'navbar-dark', 'docs')}}
<h1>Avatars</h1>
<p class="lead">Create an avatar of different sizes.</p>

<div class="mb-4">
    <img src="../assets/img/tim-schoch.jpg" class="avatar avatar-sm mr-3" alt="Tim Schoch">
    <img src="../assets/img/tim-schoch.jpg" class="avatar avatar-md mr-3" alt="Tim Schoch">
    <img src="../assets/img/tim-schoch.jpg" class="avatar avatar-lg" alt="Tim Schoch">
</div>

<p>To get a rounded avatar add <code>.avatar</code> and then choose between three different sizes: <code>.avatar-sm</code>, <code>.avatar-md</code> and <code>.avatar-lg</code>.</p>

<pre>
    <code class="lang-html">
        &lt;img class="avatar avatar-sm" src="assets/img/tim-schoch.jpg" alt="Tim Schoch"&gt;
        &lt;img class="avatar avatar-md" src="assets/img/tim-schoch.jpg" alt="Tim Schoch"&gt;
        &lt;img class="avatar avatar-lg" src="assets/img/tim-schoch.jpg" alt="Tim Schoch"&gt;
    </code>
</pre>
{% endblock %}
