{% extends "layouts/docs.njk" %}
{% set folder = "docs" %}
{% set page = "borders" %}
{% set title = "Borders" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-black', 'border-dark', 'navbar-dark', 'docs')}}
<h1>Borders</h1>
<p class="lead">Use border utilities to quickly style the border of an element</p>
<h2>Border width</h2>
<p>Change the border width easily using <code>.border-{size}</code>.</p>
<div class="border border-light border-1 mb-3"></div>
<div class="border border-light border-2 mb-3"></div>
<div class="border border-light border-3 mb-4"></div>
<pre class="mb-5">
    <code class="lang-html">
        &lt;div class="border border-light border-1"&gt;&lt;/div&gt;
        &lt;div class="border border-light border-2"&gt;&lt;/div&gt;
        &lt;div class="border border-light border-3"&gt;&lt;/div&gt;
    </code>
</pre>

<h2>Responsive borders</h2>
<p>Add or remove left and right borders based on Bootstrap breakpoints.</p>
<div class="row mb-4">
    <div class="col-lg-5 border-lg-right border-light pr-lg-5">
        <p class="h2 mb-4">Excepteur sint occaecat aute</p>
    </div>
    <div class="col-lg pl-lg-5">
        <p class="lead">Duis aute irure dolor in reprehenderit in voluptate esse cillum dolore eu fugiat.</p>
    </div>
</div>
<pre class="mb-4">
    <code class="lang-html">
        &lt;div class="row"&gt;
            &lt;div class="col-lg-5 border-lg-right border-light pr-lg-5"&gt;
                &lt;p class="h2 mb-4"&gt;Excepteur sint occaecat aute&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="col-lg pl-lg-5"&gt;
                &lt;p class="lead"&gt;Duis aute irure dolor in reprehenderit in voluptate esse cillum dolore eu fugiat.&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    </code>
</pre>
<p>
    <a href="https://getbootstrap.com/docs/4.4/utilities/borders/" target="_blank" rel="noopener">Bootstrap Documentation <i class="material-icons align-middle" aria-hidden="true">launch</i></a>
</p>
{% endblock %}
