{% extends "layouts/docs.njk" %}
{% set folder = "docs" %}
{% set page = "changelog" %}
{% set title = "Changelog" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-black', 'border-dark', 'navbar-dark', 'docs')}}
<h1>Changelog</h1>
<h2 class="h5 mb-4"><code>1.3.1</code> - Jun 10, 2020</h2>
<span class="badge badge-dark mb-2 p-2">Updated</span>
<ul>
    <li>Bootstrap to v4.5.0</li>
    <li>jQuery to v3.5.1</li>
    <li>Dev dependencies</li>
    <li>Documentation: customization and updating</li>
</ul>
<span class="badge badge-dark mb-2 p-2">Changed</span>
<ul>
    <li>SCSS folder structure</li>
    <li><code>.small</code> font size increased to 85%</li>
</ul>

<h2 class="h5 mb-4"><code>1.3.0</code> - February 20, 2020</h2>
<span class="badge badge-dark mb-2 p-2">Updated</span>
<ul>
    <li>Bootstrap to <code>4.4.1</code></li>
    <li><code>popper.js</code> to <code>1.16.0</code></li>
    <li>Dev dependencies</li>
</ul>
<span class="badge badge-dark mb-2 p-2">Added</span>
<ul>
    <li>Page <code>title</code> variable to <code>njk</code> templates</li>
    <li>PurgeCSS tool to remove unused CSS</li>
    <li><code>_user-vars.scss</code> and <code>_user.scss</code> files</li>
</ul>
<span class="badge badge-dark mb-2 p-2">Changed</span>
<ul>
    <li>Extended and revised documentation</li>
    <li>Enabled responsive font sizes</li>
    <li>Minor CSS changes</li>
    <li>Moved script file to <code>&lt;head&gt;</code>, adding <code>defer</code> attribute</li>
</ul>
<span class="badge badge-dark mb-2 p-2">Deleted</span>
<ul>
    <li>Colcade plugin</li>
</ul>

<h2 class="h5 mb-4"><code>1.2.0</code> - June 10, 2019</h2>
<span class="badge badge-dark mb-2 p-2">Updated</span>
<ul>
    <li>jQuery to <code>3.4.1</code></li>
</ul>

<span class="badge badge-dark mb-2 p-2">Changed</span>
<ul>
    <li>Primary color: <code>_variables.scss</code></li>
    <li>Replaced Masonry by Colcade</li>
    <li>Reorganized files structure</li>
</ul>

<h2 class="h5 mb-4"><code>1.1.0</code> - April 10, 2019</h2>
<span class="badge badge-dark mb-2 p-2">Updated</span>
<ul>
    <li>Bootstrap to <code>4.3.1</code></li>
    <li><code>popper.js</code> to <code>1.15.0</code></li>
    <li>Gulp to <code>4.0.0</code></li>
</ul>

<h2 class="h5 mb-5"><code>1.0.0</code> - Initial release</h2>
{% endblock %}
