{% extends "layouts/docs.njk" %}
{% set folder = "docs" %}
{% set page = "customization" %}
{% set title = "Customization" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-black', 'border-dark', 'navbar-dark', 'docs')}}
<h1>Customization</h1>
<p class="lead">How to edit and customize your theme.</p>

<p>There are two ways to customize the theme. The easier method is using CSS and the more advanced is customizing SCSS.</p>

<h2>CSS overrides</h2>

<p>Using the compiled files from the <code>dist</code> folder is the simplest way to get started with the theme.</p>

<p>Create a <code>custom.css</code> file in the <code>assets/css</code> folder and reference it after the <code>theme.css</code>  in the <code>&lt;head&gt;</code> of your pages.</p>

<pre class="mb-4">
    <code class="lang-html py-3">
        &lt;link rel="stylesheet" href="assets/css/theme.css"&gt;
        &lt;link rel="stylesheet" href="assets/css/<b>custom.css</b>"&gt;
    </code>
</pre>

<p>Then simply add your CSS rules in the <code>custom.css</code> file to override the theme styles.</p>


<h2>Customizing SCSS</h2>

<p>If you’re comfortable with using build tools and are familiar with SCSS syntax, this is the recommended option.</p>

<p>In the <code>assets/scss</code> folder you'll see two files:</p>

<ul>
    <li><code>_user-vars.scss</code> for custom variables.</li>
    <li><code>_user.css</code> to add your styles.</li>
</ul>

<p>When you edit and compile these files they will extend and override the theme's styles with your custom ones.</p>

<h3>Remove unused CSS</h3>

<p>One advantage of using the build tools is that once your files are ready for production, you can remove all unused CSS running the following command: </p>

<pre class="mb-4"><code class="language-bash py-2">gulp uncss</code></pre>

<p>The <a href="https://www.purgecss.com/" target="_blank" rel="noopener">purgecss</a> plugin analyzes the HTML and JS files and removes unused CSS. The CSS file size will be reduced and your website performance will improve.</p>
{% endblock %}
