{% extends "layouts/docs.njk" %}
{% set folder = "docs" %}
{% set page = "forms" %}
{% set title = "Forms" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-black', 'border-dark', 'navbar-dark', 'docs')}}
<h1>Forms</h1>
<p class="lead">Examples of form control styles.</p>

<form class="mb-4">
    <div class="form-row align-items-center">
        <div class="col-md-4">
            <label class="sr-only" for="inputName">First name</label>
            <input type="text" class="form-control border-0 font-italic mb-3" id="inputName" placeholder="First Name">
        </div>
        <div class="col-md-4">
            <label class="sr-only" for="inputEmail">Email address</label>
            <input type="email" class="form-control border-0 font-italic mb-3" id="inputEmail" placeholder="Email Address">
        </div>
        <div class="col-md-auto">
            <button type="submit" class="btn btn-primary mb-3">Sign Up</button>
        </div>
    </div>
</form>

<pre class="mb-5">
    <code class="lang-html">
        &lt;form&gt;
            &lt;div class="form-row align-items-center"&gt;
                &lt;div class="col-md-4"&gt;
                    &lt;label class="sr-only" for="inputName"&gt;First name&lt;/label&gt;
                    &lt;input type="text" class="form-control border-0 font-italic mb-3" id="inputName" placeholder="First Name"&gt;
                &lt;/div&gt;
                &lt;div class="col-md-4"&gt;
                    &lt;label class="sr-only" for="inputEmail"&gt;Email address&lt;/label&gt;
                    &lt;input type="email" class="form-control border-0 font-italic mb-3" id="inputEmail" placeholder="Email Address"&gt;
                &lt;/div&gt;
                &lt;div class="col-md-auto"&gt;
                    &lt;button type="submit" class="btn btn-primary mb-3"&gt;Sign Up&lt;/button&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/form&gt;
    </code>
</pre>

<h2>Sizing</h2>
<p>Set heights using classes like <code>.form-control-lg</code> and <code>.form-control-sm</code>.</p>

<input class="form-control form-control-lg border-0 mb-3" type="text" placeholder="form-control-lg">
<input class="form-control border-0 mb-3" type="text" placeholder="Default input">
<input class="form-control form-control-sm border-0 mb-4" type="text" placeholder="form-control-sm">

<pre class="mb-4">
    <code class="lang-html py-3">
        &lt;input class="form-control form-control-lg border-0" type="text" placeholder="form-control-lg"&gt;
        &lt;input class="form-control border-0" type="text" placeholder="Default input"&gt;
        &lt;input class="form-control form-control-sm border-0" type="text" placeholder="form-control-sm"&gt;
    </code>
</pre>

<p>
    <a href="https://getbootstrap.com/docs/4.4/components/forms/" target="_blank" rel="noopener">Bootstrap Documentation <i class="material-icons align-middle" aria-hidden="true">launch</i></a>
</p>
{% endblock %}
