{% extends "layouts/docs.njk" %}
{% set folder = "docs" %}
{% set page = "navbar" %}
{% set title = "Navbar" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-black', 'border-dark', 'navbar-dark', 'docs')}}
<h1>Navbar</h1>
<p class="lead">Create a navigation bar with a dropdown menu.</p>

<nav class="navbar main-nav navbar-expand-lg navbar-dark bg-dark px-3 mb-4">
    <a href="#" class="navbar-brand text-uppercase">Focus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle main navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Item</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Item 1</a>
                    <a class="dropdown-item" href="#">Item 2</a>
                    <a class="dropdown-item" href="#">Item 3</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<pre class="mb-4">
    <code class="lang-html">
        &lt;nav class="navbar main-nav navbar-expand-lg navbar-dark"&gt;
            &lt;a href="#" class="navbar-brand text-uppercase"&gt;Navbar&lt;/a&gt;
            &lt;button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle main navigation"&gt;
                &lt;span class="navbar-toggler-icon"&gt;&lt;/span&gt;
            &lt;/button&gt;
            &lt;div class="collapse navbar-collapse" id="navbarToggle"&gt;
                &lt;ul class="navbar-nav text-uppercase ml-auto"&gt;
                    &lt;li class="nav-item"&gt;
                        &lt;a class="nav-link" href="#"&gt;Item&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class="nav-item"&gt;
                        &lt;a class="nav-link" href="#"&gt;Item&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class="nav-item dropdown"&gt;
                        &lt;a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
                            Dropdown
                        &lt;/a&gt;
                        &lt;div class="dropdown-menu" aria-labelledby="navbarDropdown"&gt;
                            &lt;a class="dropdown-item" href="#"&gt;Item 1&lt;/a&gt;
                            &lt;a class="dropdown-item" href="#"&gt;Item 2&lt;/a&gt;
                            &lt;a class="dropdown-item" href="#"&gt;Item 3&lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/nav&gt;
    </code>
</pre>
<p>
    <a href="https://getbootstrap.com/docs/4.4/components/navbar/" target="_blank" rel="noopener">Bootstrap Documentation <i class="material-icons align-middle" aria-hidden="true">launch</i></a>
</p>
{% endblock %}
