{% extends "layouts/docs.njk" %}
{% set folder = "docs" %}
{% set page = "pagination" %}
{% set title = "Pagination" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-black', 'border-dark', 'navbar-dark', 'docs')}}
<h1>Pagination</h1>
<p class="lead">Use pagination to indicate a series of related content exists across multiple pages.</p>

<nav class="mb-4" aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
<pre class="mb-4">
    <code class="lang-html">
        &lt;nav aria-label="Page navigation"&gt;
            &lt;ul class="pagination"&gt;
                &lt;li class="page-item"&gt;
                    &lt;a class="page-link" href="#"&gt;Previous&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class="page-item active"&gt;
                    &lt;a class="page-link" href="#"&gt;1&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class="page-item"&gt;
                    &lt;a class="page-link" href="#"&gt;2&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class="page-item"&gt;
                    &lt;a class="page-link" href="#"&gt;3&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class="page-item"&gt;
                    &lt;a class="page-link" href="#"&gt;Next&lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/nav&gt;
    </code>
</pre>

<h2>Disabled and active states</h2>
<p>Pagination links are customizable for different circumstances. Use <code>.disabled</code> for links that appear un-clickable and <code>.active</code> to indicate the current page.</p>

<nav class="mb-4" aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

<pre class="mb-4">
    <code class="lang-html">
        &lt;nav aria-label="...">
            &lt;ul class="pagination"&gt;
                &lt;li class="page-item disabled"&gt;
                    &lt;a class="page-link" href="#" tabindex="-1" aria-disabled="true"&gt;Previous&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class="page-item"&gt;
                    &lt;a class="page-link" href="#"&gt;1&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class="page-item active" aria-current="page"&gt;
                    &lt;a class="page-link" href="#"&gt;2 &lt;span class="sr-only"&gt;(current)&lt;/span&gt;&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class="page-item"&gt;
                    &lt;a class="page-link" href="#"&gt;3&lt;/a&gt;&lt;/li&gt;
                &lt;li class="page-item"&gt;
                    &lt;a class="page-link" href="#"&gt;Next&lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/nav&gt;
    </code>
</pre>

<p>You can optionally swap out active or disabled anchors for <code>&lt;span&gt;</code>, or omit the anchor in the case of the prev/next arrows, to remove click functionality and prevent keyboard focus while retaining intended styles.</p>

<p>
    <a href="https://getbootstrap.com/docs/4.4/components/pagination/" target="_blank" rel="noopener">Bootstrap Documentation <i class="material-icons align-middle" aria-hidden="true">launch</i></a>
</p>
{% endblock %}
